In [25]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import math

In [3]:
# Classifiers
import MLE_classifier as mle
import Naive_Bayes_classifier as nb

In [2]:
train = pd.read_csv('hw1data/propublicaTrain.csv')
test = pd.read_csv('hw1data/propublicaTest.csv')

In [4]:
mle_accuracy, mle_df = mle.perform_mle(train, test)

In [66]:
LABEL = 'two_year_recid'
RACE = 'race'
PRED = 'prediction'

# Demographic Parity

In [67]:
def find_diff(P1, P2):
    '''Return absolute difference in percentage'''
    return abs(P1 - P2) * 100

def find_DP_pr(classifier_df, pred, race):
    numerator = classifier_df.loc[(classifier_df[PRED] == pred) & (classifier_df[RACE] == race)].shape[0]
    denominator = classifier_df.loc[classifier_df[RACE] == race].shape[0]
    return numerator / denominator

In [70]:
mle_df.head()

,two_year_recid,sex,age,race,juv_fel_count,juv_misd_count,juv_other_count,priors_count,c_charge_degree_F,prediction
0,1,1,27,1,0,0,1,18,1,1
1,1,0,29,1,0,0,0,11,1,1
2,1,1,25,1,0,0,1,6,0,1
3,0,1,26,1,1,0,0,2,1,1
4,0,0,33,1,0,0,0,2,1,0

In [71]:
# P[prediction=1 | race=1]
P_11 = find_DP_pr(mle_df, pred=1, race=1)
P_11

0.09789156626506024

In [72]:
# P[prediction=1 | race=0]
P_10 = find_DP_pr(mle_df, pred=1, race=0)
P_10

0.19311377245508982

In [62]:
DP_mle_diff1 = find_diff(P_11, P_10)
DP_mle_diff1

9.522220619002958

In [73]:
P_01 = find_DP_pr(mle_df, pred=0, race=1)
P_00 = find_DP_pr(mle_df, pred=0, race=0)

In [74]:
P_01, P_00

(0.9021084337349398, 0.8068862275449101)

In [75]:
DP_mle_diff2 = find_diff(P_01, P_00)
DP_mle_diff2

9.522220619002963

The differences seem to be the same, which makes sense

# Equalized Odds

In [77]:
def find_EO_pr(classifier_df, pred, race, label):
    numerator = classifier_df.loc[(classifier_df[PRED] == pred) &\
                                 (classifier_df[RACE] == race) &\
                                 (classifier_df[LABEL] == label)].shape[0]
    denominator = classifier_df.loc[(classifier_df[RACE] == race) &\
                                   (classifier_df[LABEL] == label)].shape[0]
    return numerator / denominator

# Predictive Parity

In [78]:
def find_PP_pr(classifier_df, label, race, pred):
    numerator = classifier_df.loc[(classifier_df[LABEL] == label) &\
                                 (classifier_df[RACE] == race) &\
                                 (classifier_df[PRED] == pred)].shape[0]
    denominator = classifier_df.loc[(classifier_df[RACE] == race) &\
                                   (classifier_df[PRED] == pred)].shape[0]
    return numerator / denominator